.leftPanel {
    display: flex;
    flex-direction: row;

}

.ornament {
    width: 150px;
    height: 610px;
    margin: 0 20px;

}

.leftPanel__buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 2%;
}


@media (max-width: 1100px) {
    .ornament {
        width: 100px;
        height: 670px;
    }
}