.footer__container {
    font-family: "Montserrat Alternates";
    position: absolute;
    width: 100%;
    
}

.footer__footer {
    display: flex;
    align-items: center;
    margin: 1% 1% 0 2%;
    border-top: 1px solid #14246a;
    gap: 1%;
}

.footer__footer__column__flower{
    padding-right: 10px;
    border-right: 1px solid #B9B9B9;
}

.footer__footer__column__text {
    font-size: 10px;
    color: #B9B9B9;
    padding: 0.25% 0 0.25% 0;
}

.footer__footer__text__img{
    width: 15px;
    height: 16px;
}