.presidentPage {
  font-family: "Montserrat Alternates";
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg{
    margin-right: 10px;
    cursor: pointer;
  }
}

.presidentPage_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 1% 0 2%;

  min-height: 75vh;
}

.presidentPage__container__info {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;

  h1{
    font-size: 2em;
  }
}

@media (max-width: 1400px) {
  .presidentPage__container__info h1 {
    font-size: 1.8em;
  }

  .presidentPage__container__info iframe {
    width: 560px;
    height: 380px;
  }
}

@media (max-width: 810px) {
  .presidentPage__container__info h1 {
    font-size: 1.6em;
  }

  .presidentPage__container__info iframe {
    width: 610px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .presidentPage__container__info h1 {
    font-size: 1.4em;
  }

  .presidentPage__container__info iframe {
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 576px) {
  .presidentPage__container__info h1 {
    font-size: 1.2em;
  }

  .presidentPage__container__info iframe {
    width: 320px;
    height: 180px;
  }
}

iframe {
  background: none;
  width: 800px;
  height: 400px;
}